<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>Crypto Mobile Template</title>

	<!-- Google font file. If you want you can change. -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900" rel="stylesheet">

	<!-- Fontawesome font file css -->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" href="css/global.style.css">
</head>

<body>
	
	<div class="wrapper">
		<div class="nav-menu">
			<nav class="menu">
				
				<!-- Menu navigation start -->
				<div class="nav-container">
					<ul class="main-menu">
						<li class="">
							<a href="index.html"><img src="img/content/icons/1.png" alt=""><strong>Dashboard</strong> </a>
						</li>
						<li class="">
							<a href="wallet.html"><img src="img/content/icons/2.png" alt=""><strong>My Walet</strong> </a>
						</li>
						<li class="">
							<a href="trading.html"><img src="img/content/icons/3.png" alt=""><strong>Crypto Trade</strong> </a>
						</li>
						<li class="">
							<a href="buy-sell.html"><img src="img/content/icons/6.png" alt=""><strong>Buy & sell</strong> </a>
						</li>
						<li class="">
							<a href="profile.html"><img src="img/content/icons/5.png" alt=""><strong>Trader Profile</strong> </a>
						</li>
						<li class="">
							<a href="affiliate.html"><img src="img/content/icons/4.png" alt=""><strong>Affiliate System</strong> </a>
						</li>
						<li class="">
							<a href="setting.html"><img src="img/content/icons/11.png" alt=""><strong>Settings</strong> </a>
						</li>
						<li class="active">
							<a href="javascript:void(0);"><img src="img/content/icons/9.png" alt=""><strong>Login/Register</strong> <span class="fa fa-angle-down"></span></a>
							<ul>
								<li><a href="login.html" data-loader="show">Login</a></li>
								<li class="active"><a href="signup.html" data-loader="show">Register</a></li>
								<li><a href="forgot-password.html" data-loader="show">Forgot Password</a></li>
							</ul>
						</li>
						
						<li>
							<a href="javascript:void(0);"><img src="img/content/icons/8.png" alt=""> <strong>Wizards</strong> <span class="fa fa-angle-down"></span></a>
							<ul>
								<li><a href="wizard-default.html" data-loader="show">Wizard Default</a></li>
								<li><a href="wizard-fullscreen.html" data-loader="show">Wizard Fullscreen</a></li>
							</ul>
						</li>
						<li class="">
							<a href="charts.html"><img src="img/content/icons/14.png" alt=""><strong>Charts</strong> </a>
						</li>
						<li>
							<a href="forms.html" data-loader="show"><img src="img/content/icons/7.png" alt=""><strong>Form Elements</strong></a>
						</li>
						<li>
							<a href="#"><img src="img/content/icons/10.png" alt=""><strong> Components</strong> <span class="fa fa-angle-down"></span></a>
							<ul>
								<li><a href="tab-bottom.html" data-loader="show">Tab (Bottom)</a></li>
								<li><a href="tab-top.html" data-loader="show">Tab (Top)</a></li>
								<li><a href="accordion.html" data-loader="show">Accordion</a></li>
								<li><a href="popup.html" data-loader="show">Popup Modal</a></li>
								<li><a href="checkbox-list.html" data-loader="show">Check List</a></li>
								<li><a href="link-list.html" data-loader="show">Link List</a></li>
								<li><a href="link-list-two-column.html" data-loader="show">Two Column Links</a></li>
							</ul>
						</li>
						<li>
							<a href="#"><img src="img/content/icons/15.png" alt=""><strong> Pages</strong> <span class="fa fa-angle-down"></span></a>
							<ul>
								<li><a href="profile.html" data-loader="show">User Profile</a></li>
								<li><a href="search-result.html" data-loader="show">Search Results</a></li>
								<li><a href="contact.html" data-loader="show">Contact</a></li>
								<li><a href="blank.html" data-loader="show">Blank Page</a></li>
							</ul>
						</li>
					</ul>
				</div>
			<!-- Menu navigation end -->
			</nav>
		</div>
		<div class="wrapper-inline">
			<!-- Header area start -->
			<header> <!-- extra class no-background -->
				<a class="go-back-link" href="javascript:history.back();"><i class="fa fa-arrow-left"></i></a>
				<h1 class="page-title">SIGN UP</h1>
				<div class="navi-menu-button">
					<em></em>
					<em></em>
					<em></em>
				</div>
			</header>
			<!-- Header area end -->
			<!-- Page content start -->
			<main>
				<div class="container">
					<div class="form-divider"></div>

					<div class="form-row">
						<a href="#" class="button circle block blue mb-15"> <i class="fa fa-facebook"></i> Sign up with FACEBOOK</a>
					</div>
					<div class="form-row">	
						<a href="#" class="button circle block red"><i class="fa fa-google"></i> Sign up with GOOGLE</a>
					</div>

					<div class="form-divider"></div>
					<div class="form-label-divider"><span>OR</span></div>
					<div class="form-divider"></div>

					<div class="form-row-group with-icons">
						<div class="form-row no-padding">
							<i class="fa fa-user"></i>
							<input type="text" name="aaa" class="form-element" placeholder="Username" value="john doe">
						</div>
						<div class="form-row no-padding">
							<i class="fa fa-envelope"></i>
							<input type="email" name="aaa" class="form-element" placeholder="Email" value="johndoe@example.com">
						</div>
						<div class="form-row no-padding">
							<i class="fa fa-lock"></i>
							<input type="password" name="aaa" class="form-element" placeholder="Password" value="123456">
						</div>
						<div class="form-row no-padding">
							<i class="fa fa-language"></i>
							<select class="form-element">
								<option value="">Language</option>
								<option value="1"  selected>English</option>
								<option value="2">Spanish</option>
								<option value="3">Turkish</option>
							</select>
						</div>
					</div>

					<div class="form-divider"></div>

					<div class="form-row">
						<a href="#" class="button circle block orange">Sign Up</a>
					</div>

					<div class="form-row txt-center mt-15">
						Already have an account? <a href="login.html" data-loader="show">Login</a>
					</div>

				</div>
			</main>
			<!-- Page content end -->
		</div>
	</div>


	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>

	<!-- JQuery library file. requared all pages -->
	<script src="js/jquery-3.2.1.min.js"></script>

	<!-- Template global script file. requared all pages -->
	<script src="js/global.script.js"></script>

	
</body>

</html>