<!DOCTYPE html>
<body>
<div id="accessToken"><%=data.access_token%></div>
<div id="refreshToken"><%=data.refresh_token%></div>
<div id="usenum"><%=data.user_seq_no%></div>
</body>

<script>
   opener.document.getElementById("accessToken").value = document.getElementById("accessToken").textContent;
   opener.document.getElementById("refreshToken").value = document.getElementById("refreshToken").textContent;
   opener.document.getElementById("useseqnum").value = document.getElementById("usenum").textContent;
</script>
</html>